{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="aboutc">

    <h2>About Us</h2>

    <div class="row">
        <div class="col-md-7">
            <p>Here you can find some of the most amusing books ever written at reasonable price. Buy a book once and
                make it yours for eternity.</p>
            <p>
                This E Book Store was started by G20 team mates. This website mainly focuses on digitalisation of
                reading books and spreading the availability of books to each and everyone in need.
            </p>
            <h3>
                G 20 team mates:
            </h3>
            <div class="row">
                <div class="col-6 h4">Maramreddy Krishna Ananda Reddy</div>
                <div class="col-6 h5">200001042</div>
            </div>
            <div class="row">
                <div class="col-6 h4">Lohith Reddy Ramireddy</div>
                <div class="col-6 h5">200001066</div>
            </div>
            <div class="row">
                <div class="col-6 h4">Katta Jayanth Kumar</div>
                <div class="col-6 h5">200001034</div>
            </div>
            <div class="row">
                <div class="col-6 h4" >Karri Trived</div>
                <div class="col-6 h5">200001033</div>
            </div>
            <div class="row">
                <div class="col-6 h4">Mudhi Reddy Sai Akshay Reddy</div>
                <div class="col-6 h5">200001049</div>
            </div>
        </div>
        <div class="col-md-5">
            <img style="text-align: center; margin-left: 250px; margin-top: 100px;" src="../static/images/logo.png">
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock content %}